function pow 2
push constant 0
pop local 0
push argument 1
pop local 1
label loop
    push argument 0
    push argument 1
    call mult 2
    push local 0
    add
    pop local 0
    push local 1
    push constant 1
    sub
    pop local 1
    push local 1
    push constant 0
    gt
    if-goto loop
push local 0
return
